@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap");
@import "reset.css";
body {
  background-color: rgb(214, 230, 245);
  font-family: "Silkscreen", cursive;
}
.status-bar {
  display: flex;
  justify-content: center;
}
.status-bar__column {
  width: 33%;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
