@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap");
@import "reset.css";
/*components*/
@import "components/status-bar.css";
/*screens*/
@import "screens/login.css";
body {
  background-color: rgb(214, 230, 245);
  font-family: "Silkscreen", cursive;
}
