@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
@import "reset.css";
/*components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
/*screens*/
@import "screens/login.css";
@import "screens/friends.css";
body {
  color: #2e363e;
  background-color: rgb(214, 230, 245);
  font-family: "Silkscreen", cursive;
}
