@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap");
@import "reset.css";
@import "status-bar.css";
body {
  background-color: rgb(214, 230, 245);
  font-family: "Silkscreen", cursive;
}
.Wellcom-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wellcom-header__title {
  margin-bottom: 40px;
}
.wellcom-header__text {
  width: 40%;
  opacity: 0.5;
  margin-bottom: 40px;
}
#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 25%;
}
#login-form input {
  padding: 10px 10px;
  border: none;
  font-size: 14px;
  border-bottom: 2px solid rgb(0, 0, 0, 0.2);
  margin-bottom: 5px;
}
#login-form input::placeholder {
  color: rgb(0, 0, 0, 0.2);
}
#login-form input:focus {
  border-color: rgb(0, 0, 0, 0.4);
}
