.icon {
  position: relative;
}
.find__dot {
  position: absolute;
  top: -15px;
  right: -5px;
}

.recommended-friends {
  padding: 15px 0px;
  border-bottom: var(--border-line);
}

.recommended-friends__title {
  font-size: 12px;
  color: var(--color-gray);
}
.recommended-friends span {
  margin: 90px 0px;
  display: block;
  text-align: center;
  color: var(--color-gray);
  font-size: 12px;
}
.open-chat {
  padding: var(--horizontal-space) 0px;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--color-gray);
  font-size: 12px;
  margin-bottom: 5px;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-line);
}

.open-post__column {
  padding: var(--horizontal-space);
}

.open-post__title {
  font-size: 15px;
  margin-bottom: 5px;
}
.open-post__hashtags {
  font-size: 12px;
  text-transform: uppercase;
  color: var(--color-gray);
  margin-bottom: 5px;
}
.open-post__members {
  display: flex;
  align-items: center;
}
.open-post__members-count {
  font-size: 10px;
  color: var(--color-gray);
}
.open-post__members-status {
  font-size: 10px;
  color: #ffb0e0;
}
.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__members .divider {
  margin: 0px 5px;
  width: 1.5px;
  height: 10px;
  background-color: var(--color-gray);
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 3px;
  font-size: 10px;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.open-post__heart-count span {
  margin-left: 3px;
}
@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}
.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 2s linear infinite;
}
