.icon {
  position: relative;
}
.find__dot {
  position: absolute;
  top: -15px;
  right: -5px;
}
.find-icons {
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border-line);
}
.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--horizontal-space) 0px;
}
.find-icons__icon i {
  font-size: 25px;
}
.find-icons__icon span {
  margin-top: 10px;
  font-size: 10px;
}
.recommended-friends {
  padding: 15px 0px;
  border-bottom: var(--border-line);
}

.recommended-friends__title {
  font-size: 12px;
  color: var(--color-gray);
}
.recommended-friends span {
  margin: 90px 0px;
  display: block;
  text-align: center;
  color: var(--color-gray);
  font-size: 12px;
}
.open-chat {
  padding: var(--horizontal-space) 0px;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--color-gray);
  font-size: 12px;
  margin-bottom: 25px;
}
.open-post {
  display: flex;
  flex-direction: column;
}

.open-post__column {
  margin-bottom: 30px;
}
.open-post__title {
  font-size: 15px;
  margin-bottom: 5px;
}
.open-post__hashtags {
  font-size: 12px;
  text-transform: uppercase;
  color: var(--color-gray);
  margin-bottom: 5px;
}
.open-post__members {
  display: flex;
  align-items: center;
}
.open-post__members-count {
  font-size: 10px;
  color: var(--color-gray);
}
.open-post__members-status {
  font-size: 10px;
  color: #ffb0e0;
}
.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__members .divider {
  margin: 0px 5px;
  width: 1.5px;
  height: 10px;
  background-color: var(--color-gray);
}
