#friends-display-link {
  text-align: center;
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  margin: -5px 0px 15px 0px;
  padding: 10px 0px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.4);
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
  margin-top: 15px;
  border-top: var(--border-line);
  padding-top: var(--horizontal-space);
}
.frineds-srceen__channel-header {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.4);
}
@keyframes hideSplashScreen {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: rgb(146, 146, 190);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 122px;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 2s;
}
