#friends-display-link {
  text-align: center;
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  margin: -5px 0px 15px 0px;
  padding: 10px 0px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.4);
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
  margin-top: 25px;
  border-top: solid 2px rgba(0, 0, 0, 0.2);
  padding-top: 15px;
}
.frineds-srceen__channel-header {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.4);
}
