.Wellcom-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wellcom-header__title {
  margin-bottom: 40px;
  font-weight: 700;
}
.wellcom-header__text {
  width: 40%;
  opacity: 0.5;
  margin-bottom: 40px;
  font-weight: 700;
}
#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 25%;
}
#login-form input {
  padding: 10px 10px;
  border: none;
  font-size: 14px;
  border-bottom: 2px solid rgb(0, 0, 0, 0.2);
  margin-bottom: 5px;
}
#login-form input::placeholder {
  color: rgb(0, 0, 0, 0.2);
}
#login-form input:focus {
  border-color: rgb(0, 0, 0, 0.4);
}
#login-form a {
  text-decoration: none;
  text-align: center;
  color: inherit;
  font-size: 15px;
}
#login-form input[type="submit"] {
  background-color: wheat;
  margin-top: 10px;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
}
