.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #acacee;
  padding: 10px 40px;
  box-sizing: border-box;
  border-top: 3px solid rgba(0, 0, 0, 0.4);
}
.nav__ul {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
}
.nav__notification {
  position: absolute;
  top: -18px;
  right: -8px;
}
.nav__dot {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: -5px;
}
