.screen-header {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  margin-bottom: 10px;
  align-items: center;
}

.screen-header__title {
  font-size: 32px;
}
.screen-header__icon {
  margin-right: 20px;
}
.screen-header__icon span {
  margin-left: 20px;
}
