.user-component {
  justify-content: space-between;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 65px;
  height: 65px;
  border-radius: 20px;
}
.user-component__avatar-xl {
  width: 70px;
  height: 70px;
  border-radius: 20px;
}
.user-component__avatar-sm {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}
.user-component__title {
}
.user-component__text {
  margin-left: 20px;
  font-size: 18px;
}
.user-component__feeling {
  font-size: 15px;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.5);
}
.user-component__title__not-bold {
  font-weight: 400;
}

.user-component:last-child {
  color: rgba(0, 0, 0, 0.4);
}
