.user-component {
  justify-content: space-between;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 65px;
  height: 65px;
  border-radius: 20px;
}
.user-component__avatar-xl {
  width: 70px;
  height: 70px;
  border-radius: 20px;
}
.user-component__avatar-sm {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}
.user-component__title {
  color: black;
  font-size: 20px;
}
.user-component__text {
  margin-left: 20px;
  font-size: 18px;
}
.user-component__feeling {
  font-size: 15px;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.5);
}
.user-component__title__not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-component__time {
  display: block;
  margin-bottom: 10px;
}
.user-component__Exclamation-mark {
  text-align: center;
  font-size: 12px;
  background-color: white;
  width: 13px;
  height: 13px;
  color: tomato;
  border-radius: 50%;
  border: 2px solid tomato;
}

#more__user-componet__Exclamation-mark {
  display: flex;
  align-items: center;
}

.user-component__Exclamation-mark {
  margin: 10px 0px 0px 5px;
}
